In [1]:
import pandas as pd
import numpy as np
from numpy import cumsum

Net Irradiance is a required input to get the CT Transpirator to work properly.  The net irradiance is defined as the net shortwave irradiance in MJ subtracted from the net outgoing long wave irrradiance in MJ/(m2 hour).

In [2]:
file = 'C:\\Users\\Andrew\\Desktop\\Australia 2019 CT Transpirator data\\CT_Data_Aus.csv'
df = pd.read_csv('C:\\Users\\Andrew\\Desktop\\Australia 2019 CT Transpirator data\\CT_Data_Aus.csv')
dfr = pd.read_csv('C:\\Users\\Andrew\\Desktop\\Australia 2019 CT Transpirator data\\Cobran_Carrathool_2018_19_clean_weather.csv_RefET.csv')
dfet = pd.read_csv('C:\\Users\\Andrew\\Desktop\\Australia 2019 CT Transpirator data\\Cobran_Carrathool_2018_19_clean_weather.csvGDU.csv')

In [4]:
df.head()

,SEQ,BASE,Date,RH,Soil_Temp,Ambient_T,Temp_2,Temp_3,136_CT,141_CT,144_CT,200_CT,201_CT,206_CT,207_CT,209_CT,210_CT,215_CT
0,2,1095176136,12/20/18 12:30,42,39.26,39.17,38.07,40.69,39.26,43.93,39.20,43.70,49.01,36.32,38.44,49.28,46.27,46.27
1,3,1095176136,12/20/18 12:45,41,39.59,39.63,39.01,40.37,39.59,44.99,40.00,43.63,47.78,36.81,38.84,48.98,47.55,47.55
2,4,1095176136,12/20/18 13:00,43,39.66,39.59,39.29,40.23,39.66,45.60,40.47,44.19,49.26,37.06,39.31,47.12,47.99,47.99
3,5,1095176136,12/20/18 13:15,42,39.89,39.79,39.27,40.41,39.89,46.02,40.89,45.04,48.63,37.38,39.72,49.34,48.13,48.13
4,6,1095176136,12/20/18 13:30,46,39.91,39.91,39.21,40.31,39.91,46.29,41.22,45.00,48.24,37.60,40.01,46.78,49.07,49.07

In [5]:
dfr.head()

,Unnamed: 0,Time,year,DOY,avgt.C,meanU.2m.m/s,RH.2m.%,Solar Rad (kWh/m^2),radn.W/m2,ETo (mm),...,Rn_(MJ/(m2*h)),Soil Heat Flux Density (W/m2),Soil Heat Flux Density (MJ/(m2*h)),Numerator Constant,Denominator Constant,Reference ET mm/h,Reference ET (MJ/(m2*h)),Sensible Heat (MJ/(m2*h)),Energy Balance,Filter_Ref
0,0,1/10/2018 0:00,2018,274,10.4,0.0,42,6.18,0.705756,3.56,...,-0.251131,-139.517001,-0.125565,9.25,0.24,-0.029936,-0.073344,-0.303352,0.0,0.0
1,1,1/10/2018 0:15,2018,274,10.3,0.0,41,0.00,0.000000,0.00,...,-0.252907,-140.503913,-0.126454,9.25,0.96,-0.030075,-0.073683,-0.305678,0.0,0.0
2,2,1/10/2018 0:30,2018,274,10.0,0.0,43,0.00,0.000000,0.00,...,-0.250376,-139.097682,-0.125188,9.25,0.96,-0.029554,-0.072407,-0.303156,0.0,0.0
3,3,1/10/2018 0:45,2018,274,9.1,0.0,42,0.00,0.000000,0.00,...,-0.251552,-139.751156,-0.125776,9.25,0.96,-0.029024,-0.071109,-0.306219,0.0,0.0
4,4,1/10/2018 1:00,2018,274,9.2,0.0,46,0.00,0.000000,0.00,...,-0.246834,-137.130124,-0.123417,9.25,0.96,-0.028553,-0.069955,-0.300296,0.0,0.0

In [7]:
dfet

     Unnamed: 0   GDU_calc  DOY  Daily Ref ET mm/h
0             0  14.893750    1                NaN
1             1  16.382292    2           7.016565
2             2  16.496875    3          12.181270
3             3  20.658333    4           7.355430
4             4   9.129167    5          16.731601
..          ...        ...  ...                ...
173         173  18.944792  174                NaN
174         174  20.046875  175                NaN
175         175  20.087500  176                NaN
176         176  17.354167  177                NaN
177         177  13.349451  178                NaN

[178 rows x 4 columns]

In [8]:
#Convert Date column to pandas datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [12]:
df['Date']

0      2018-12-20 12:30:00
1      2018-12-20 12:45:00
2      2018-12-20 13:00:00
3      2018-12-20 13:15:00
4      2018-12-20 13:30:00
               ...
5906   2019-02-22 14:45:00
5907   2019-02-22 15:00:00
5908   2019-02-22 15:15:00
5909   2019-02-22 15:30:00
5910   2019-02-22 15:45:00
Name: Date, Length: 5911, dtype: datetime64[ns]

In [13]:
#Create a DOY column
df['DOY'] = df['Date'].dt.dayofyear

In [16]:
df['DOY'].head()

0    354
1    354
2    354
3    354
4    354
Name: DOY, dtype: int64

In [17]:
#Create a time column
df['DOY_Time'] = df['Date'].dt.time

In [18]:
df['DOY_Time'].head()

0    12:30:00
1    12:45:00
2    13:00:00
3    13:15:00
4    13:30:00
Name: DOY_Time, dtype: object

In [19]:
#Isolate the canopy temperature columns and create a new DataFrame
df2 = df.iloc[:,8:17]

In [20]:
df2

      136_CT  141_CT  144_CT  200_CT  201_CT  206_CT  207_CT  209_CT  210_CT
0      39.26   43.93   39.20   43.70   49.01   36.32   38.44   49.28   46.27
1      39.59   44.99   40.00   43.63   47.78   36.81   38.84   48.98   47.55
2      39.66   45.60   40.47   44.19   49.26   37.06   39.31   47.12   47.99
3      39.89   46.02   40.89   45.04   48.63   37.38   39.72   49.34   48.13
4      39.91   46.29   41.22   45.00   48.24   37.60   40.01   46.78   49.07
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
5906   28.60     NaN     NaN   13.32     NaN   28.61     NaN   13.32   23.36
5907   28.07     NaN     NaN   14.08     NaN   28.80     NaN   13.67   23.15
5908   27.95     NaN     NaN   14.29     NaN   28.59     NaN   13.63   23.31
5909   28.11     NaN     NaN   14.03     NaN   28.97     NaN   13.35   23.41
5910   27.25     NaN     NaN   13.59     NaN   28.95     NaN   13.23   23.33

[5911 rows x 9 columns]

In [21]:
###Force datatype on the columns to numeric as they are all numbers
df2 = df2.apply(pd.to_numeric,errors='coerce')

In [26]:
###Apply calculations for canopy temperature transpiration model
df2['counter'] = range(len(df2))
df2['Day_index'] = df2['counter']*(1/96)+60
df2['Net_Irradiance'] = dfr['Rn_W/m2']

In [27]:
###Canopy Volume in grams calculation from Hiz's Australia data
df2['Canopy_Vol_g'] = -0.0132*(df2['Day_index']**3) + 3.4792*(df2['Day_index']**2) -231.2*(df2['Day_index']) + 4456.1

In [28]:
df2.head()

,136_CT,141_CT,144_CT,200_CT,201_CT,206_CT,207_CT,209_CT,210_CT,counter,Day_index,Net_Irradiance,Canopy_Vol_g
0,39.26,43.93,39.20,43.70,49.01,36.32,38.44,49.28,46.27,0,60.000000,-279.034002,258.020000
1,39.59,44.99,40.00,43.63,47.78,36.81,38.84,48.98,47.55,1,60.010417,-281.007827,258.475786
2,39.66,45.60,40.47,44.19,49.26,37.06,39.31,47.12,47.99,2,60.020833,-278.195364,258.931812
3,39.89,46.02,40.89,45.04,48.63,37.38,39.72,49.34,48.13,3,60.031250,-279.502312,259.388077
4,39.91,46.29,41.22,45.00,48.24,37.60,40.01,46.78,49.07,4,60.041667,-274.260249,259.844581

In [29]:
###Set max value for the grams of fresh weights to 4200 max
x = list()
for idx, row in df2.iterrows():
    if row['Canopy_Vol_g']>=4200:
        row['Canopy_Vol_g'] = 4200

###Set lower end of grams of fresh weight after reaching maximum
    elif idx > 6200 and row['Canopy_Vol_g'] <= 3500:
        row['Canopy_Vol_g'] = 3500
    x.append(row['Canopy_Vol_g'])
df3 = pd.DataFrame(x)

In [30]:
df3

                0
0      258.020000
1      258.475786
2      258.931812
3      259.388077
4      259.844581
...           ...
5906  4051.040999
5907  4051.349239
5908  4051.657190
5909  4051.964852
5910  4052.272224

[5911 rows x 1 columns]

In [31]:
###Set the column of Canopy Vol g to correct growth
df2['Canopy_Vol_g'] = df3[0:]
dfct = pd.DataFrame([df.columns[df.columns.to_series().str.contains('CT')]])
dfct.columns = dfct.iloc[0]
xx = list(dfct.columns)
dfct = df[xx]
dfct1 = dfct.diff()
df2['Canopy_Fraction'] = df2['Canopy_Vol_g']/df2['Canopy_Vol_g'].max()
df2['15_min_Flux_J'] = (df2['Net_Irradiance']*900)*df2['Canopy_Fraction']
df2['Joules_of_Rn_in_degC'] = (df2['15_min_Flux_J']/4.186)/df2['Canopy_Vol_g']

In [33]:
df2.head()

,136_CT,141_CT,144_CT,200_CT,201_CT,206_CT,207_CT,209_CT,210_CT,counter,Day_index,Net_Irradiance,Canopy_Vol_g,Canopy_Fraction,15_min_Flux_J,Joules_of_Rn_in_degC
0,39.26,43.93,39.20,43.70,49.01,36.32,38.44,49.28,46.27,0,60.000000,-279.034002,258.020000,0.063673,-15990.218407,-14.804775
1,39.59,44.99,40.00,43.63,47.78,36.81,38.84,48.98,47.55,1,60.010417,-281.007827,258.475786,0.063785,-16131.775825,-14.909500
2,39.66,45.60,40.47,44.19,49.26,37.06,39.31,47.12,47.99,2,60.020833,-278.195364,258.931812,0.063898,-15998.497402,-14.760279
3,39.89,46.02,40.89,45.04,48.63,37.38,39.72,49.34,48.13,3,60.031250,-279.502312,259.388077,0.064011,-16101.981053,-14.829622
4,39.91,46.29,41.22,45.00,48.24,37.60,40.01,46.78,49.07,4,60.041667,-274.260249,259.844581,0.064123,-15827.795355,-14.551492

In [34]:
###Net degrees C into the system###
dfct2 = df2['Joules_of_Rn_in_degC'].values[:, None] - dfct1

In [35]:
###Joules missing in the system###
dfct2 = df2['Canopy_Vol_g'].values[:, None] * (dfct2*4.186)

In [36]:
###Grams of H2o / 15min###
dfct3 = pd.DataFrame(np.where(df2['Net_Irradiance'].values[:, None] > 0, dfct2 * (4.08*10**-4),0),columns = xx)
dfct3['DOY'] = df['DOY']

In [37]:
###Divide grams of H2o per day by 1000 to mm/m2/day or mm/day###
data = dfct3.groupby(['DOY']).sum() / 1000
data['Ref_ET'] = dfet['Daily Ref ET mm/h']
#data.to_csv(file + 'mm_m2_day.csv')

In [38]:
data

,136_CT,141_CT,144_CT,200_CT,201_CT,206_CT,207_CT,209_CT,210_CT,215_CT,Ref_ET
DOY,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.016565
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.181270
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.355430
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.731601
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.296903
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.952671
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.290977
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.418155
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.109915
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.279031
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.208154
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.534081
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.063734
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.066792
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.361299
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.319719
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.676833
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.686220
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.337411
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.477843
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.029171
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.716686
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.625972
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.011068
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.438545
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.097115
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.101226
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.738800
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.780280
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.420618
...,...,...,...,...,...,...,...,...,...,...,...
36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.678152
37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.691799
38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.549279
39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.544312
40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.995160
41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.408501
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.168943
43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.966539
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.568396
45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.679343
46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.468650
47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.846743
48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.937361
49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.392459
50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.209392
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.140710
52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.866408
53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.933044
354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN